{% extends "index.html" %}

{% block content %}
    <div class="jumbotron text-center" style="padding-top: 5%">
        {% if username %}
        <h1>Welcome back, {{ username }}!</h1>
        {% else %}
        <h1>Welcome to Apprisen</h1>
        {% endif %}
        
        <h2>Today's Date is </h2><h2 id='todayDate'></h2>
        {% if username %}
        <div id="pay">
            <h2>Remember, you're next payment is due </h2><h2 id="billDate"></h2>
        </div>
        {% endif %}
    </div>

    <div class="text-center setGreen">
        {% if username %}
        <div class="upload">
                <h5 id="upTitle" class="featTitle">So... what are you waiting for?</h5>
                <p class="upDesc">Upload your bank statement as a PDF now!</p>
                <form action="http://localhost:5000/uploader" method="POST" enctype="multipart/form-data">
                    <input type="file" name="file" class="fileUpload"/>
                    <div class="labelHolder">
                        <label class="fileLabel" for="file">Choose a file</label>>
                    </div>
                    <div class="submitHolder">
                        <input class="submit" type="submit" />
                    </div>
                </form>
                <p class="fileName"></p>
            </div>
        {% else %}
        <h1>About Us</h1>
        {% endif %}
    </div>
{%endblock%}
        {%endif%}

        <h2>Today's Date is </h2><h2 id='todayDate'></h2></div>
    </div>

    <div class="container" id="about">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center slideanim">
                <h2 class="section-heading">ABOUT</h2>
                <hr style="max-width:50px;border-top: 2px solid #2E3134;"><br>
            </div><!-- ./column -->
        </div><!-- ./row -->
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12 co-xs-12 text-center">
                <h3><label><b>Easy to use</b></label></h3>
                <h4>
                    <p class="text-justify" style="padding-top: 10px;">
                        All your favorite features in one place focused on bringing impactful results to you as quickly as possible!
                    </p>
                </h4>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-12 co-xs-12 text-center">
                <h3><label><b>Lasting-Relationship</b></label></h3>
                <h4>
                    <p class="text-justify" style="padding-top: 10px;">
                      We're here to build a trusting and lasting relationship to help get you back on track!
                    </p>
                </h4>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-12 co-xs-12 text-center">
                <h3><label><b>Education-Driven</b></label></h3>
                <h4>
                    <p class="text-justify" style="padding-top: 10px;">
                        Knowing how to understand and improve your credit report and score is one of the most powerful actions you can take to empower your financial future!
                    </p>
                </h4>
            </div>
        </div> <!-- ./row -->
    </div> <!-- ./cotainer -->
{% endblock %}
