{% extends "index.html" %}

{% block content %}


<section>
    <div class="upload">
        <h5 id="upTitle" class="featTitle">So... what are you waiting for?</h5>
        <p class="upDesc">Upload your bank statement as a PDF now!</p>
        <form action="http://localhost:5000/uploader" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" class="fileUpload"/>
            <div class="labelHolder">
                <label class="fileLabel" for="file">Choose a file</label>
                <img class="uploadImage" src="static/Images/upload.png">
            </div>
            <div class="submitHolder">
                <input class="submit" type="submit" />
                <img class="submitImage" src="static/Images/submit.png">
            </div>
        </form>
        <p class="fileName"></p>
    </div>
</section>

{% endblock %}
